	
<h2 class="text-muted">Application <small>Add new Applictaion</small></h2>
<font color="red">Given fields with * are mandatory</font><br><br><br>
<div [hidden]="submitted" style="width: 300px;">
  <form #forms="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-content">
        <div class="form-group">
            <label for="applicationName"><font color="green">Application Name<font size="3" color="red">*</font></font></label>
            <input type="text" class="form-control" id="applicationName" required [(ngModel)]="application.applicationName" #ApplicationName="ngModel" name="applicationName">
            <div *ngIf="ApplicationName?.touched" >
                    <div *ngIf="ApplicationName.errors?.required"><i style="color:red">UserId can't be empty</i></div>
                    </div>
        </div>
        <div class="form-group">
                <label><font color="green">Application Description<font size="3" color="red">*</font></font></label>
                <input type="text" class="form-control" id="applicationDescription" required [(ngModel)]="application.applicationDescription" #ApplicationDescription="ngModel" name="applicationDescription">
                <div *ngIf="ApplicationDescription?.touched" >
                        <div *ngIf="ApplicationDescription.errors?.required"><i style="color:red">UserId can't be empty</i></div>
                        </div>
            </div>
        <!-- <div class="form-group">
            <label><font color="green">Application Id</font></label>
            <input type="text" class="form-control" id="applicationId" required [(ngModel)]="application.applicationId" name="applicationId">
            
        </div>
        <div class="form-group">
            <label><font color="green">Application Type</font></label>
            <input type="text" class="form-control" id="applicationType" required [(ngModel)]="application.applicationType" name="applicationType">  
        </div> -->
        <div class="form-group">
                <label><font color="green">User Id<font size="3" color="red">*</font></font></label><button style="background-color: white; border: aliceblue" title="Specify userId" class="btn btn-light" ><i class="fa fa-question-circle" style="font-size:18px;color:red"></i></button>
                <input type="text" class="form-control" id="userId" required [(ngModel)]="application.userId" #UserId="ngModel" name="userId">  
                <div *ngIf="UserId?.touched" >
                    <div *ngIf="UserId.errors?.required"><i style="color:red">UserId can't be empty</i></div>
                    </div>
            </div>
    </div>
 
    <button type="submit" class="btn btn-success" [disabled]="forms.invalid">Submit</button>
  </form>
</div>
 
<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-info" (click)="createApplication()">Add</button>
</div>
<!-- <p>
 <div>
    <h2 class="text-muted"> <small>Application</small></h2>
    <form role="form" #AddApplicationsForm="ngForm" (ngSubmit)="form(AddApplicationsForm.value)">
    <div class="form-content">
        <div class="form-group">
            <label><font color="green"><b>Application Name</b></font></label>
            <input type="text"  [ngModel]="appName" class="form-control input-underline input-lg" name="appName" placeholder="appName" required/>
        </div>
        <div class="form-group">
                <label><font color="green"><b>Application Description</b></font></label>
                <input type="text"  [ngModel]="appDescription" class="form-control input-underline input-lg" name="appDescription" placeholder="appDescription" required/>
            </div>
        <div class="form-group">
            <label><font color="green"><b>Application Id</b></font></label>
            <input type="text"  [ngModel]="appId" class="form-control input-underline input-lg" name="appId" placeholder="appId" required/>
        </div>
        <div class="form-group">
            <label><font color="green"><b>Application Type</b></font></label>
            <input type="text"  [ngModel]="appType" class="form-control input-underline input-lg" name="appType" placeholder="Application Type" required/>
        </div>
        <div class="form-group">
            <label><font color="green"><b>Department</b></font></label>
            <input type="text" [ngModel]="department" name="department" class="form-control input-underline input-lg" placeholder="Department" required/>
        </div>
        <div class="form-group">
            <label><font color="green"><b>Application count</b></font></label>
            <input type="text"  [ngModel]="appCount" class="form-control input-underline input-lg" name="appCount" placeholder="application count" required/>
        </div>
        <div class="form-group">
            <label><font color="green"><b>List of Applications</b></font></label>
            <input type="text"  [ngModel]="listOfApplication" class="form-control input-underline input-lg" name="listOfApplication" placeholder="listOfApplication" required/>
        </div>
        <div class="form-group">
            <label><font color="green"><b>Application Owner</b></font></label>
            <input type="text"  [ngModel]="appOwner" class="form-control input-underline input-lg" name="appOwner" placeholder="Application Owner" required/>
        </div>
        <div class="form-group">
            <label><font color="green"><b>Iteration Number</b></font></label>
            <input type="number"  [ngModel]="iterationNumber" class="form-control input-underline input-lg" name="iterationNumber" placeholder="Iteration Number" required/>
        </div>
    </div>
    <input type="submit" class="btn btn-info btn-md" value="Add Assessment Questions" ><br>
</form>
</div>  -->