<!-- <div>
  <div>
    <h2 class="text-muted">Detailed Assessment</h2>
  </div>
  <div>
      <table datatable id="question-list" class="table table-bordered table-striped ">
      <tbody>
      <tr *ngFor = "let row of AllData;let i = index">
          <td>{{i}}</td>
        <td>{{row.questionText}}</td>

        
          <input type="text"></td>
      </tr>
    </tbody>
    </table>
  </div>
  <div>
    <button type="button" class="btn btn-info">Save</button>&nbsp;
    <button type="button" class="btn btn-info">Finalize</button>&nbsp;
    <button type="button" class="btn btn-info">Cancel</button>&nbsp;
  </div>
</div> -->

<div>
    <form role="form" #add="ngForm" (ngSubmit)="onSubmit(add.value)">
        <div>
            <h2 class="text-muted">Detailed Assessment</h2>
          </div>
          <div>
             <table datatable id="question-list" class="table table-bordered table-striped ">
              <tbody>
              <tr *ngFor = "let row of AllData;let i = index">
                  <td>{{i+1}}</td>
                <td>{{row.questionText}}</td>
                <!-- <td>{{AllData[i].optionText}}</td> -->
                <td *ngIf="AllData[i].assessmentQuestions.questionType==='Multiple Choice Multiple Answer'; else dropdownbox">
                    <!-- <span>number of option</span>&ngsp; -->
                  </td>
                  <ng-template #dropdownbox>
                    <select (change)="selectChangeHandler($event)" required [(ngModel)]="numberOfOption" name="numberOfOption">
                        <option class='option' *ngFor='let option of AllData[i].optionText' >{{option}}</option>
                    </select> 
                  </ng-template>       
                <!-- </td> -->
               
        
                <!-- <td *ngFor = "let size of AllData> -->
                  <!-- <input type="text"> -->
              </tr>
            </tbody>
            </table>
          </div>
          <div>
            <button type="button" class="btn btn-info">Save</button>&nbsp;
            <button type="button" class="btn btn-info">Finalize</button>&nbsp;
            <button type="button" class="btn btn-info">Cancel</button>&nbsp;
          </div>
      </form>
</div>
