<div>
  <div *ngFor =  "let row of AllData;let i = index" class="form-group">
    Question : {{row.questionText}}<br><br>
    Executable Order : <input type="text" [(ngModel)]="row.questionDisplayOrder" name="questionDisplayOrder"><br><br>
    QuestionType : {{row.questionType}}<br><br>
    <div *ngFor= "let questionOptionValue of AllData[i].questionOption">
    options : {{questionOptionValue.optionText}}
    <br><br>
    <input type="text" [(ngModel)]="questionOptionValue.optionText" name="optionText"><br>
    <hr style="height:1px;border-top:1px solid #000000" />
    
  </div>
  </div>
  <button type="button" class="btn btn-info btn-sm">Save</button>&nbsp;
  <button type="button" class="btn btn-info btn-sm">Finalize</button>&nbsp;
 </div>