<h3>Add Questions</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="questionText">Question</label>
      <input type="text" class="form-control" id="questionText" required [(ngModel)]="customer.questionText" name="questionText">
    </div>

    <div class="form-group">
      <label for="numberOfOption">number of option</label>
      <input type="text" class="form-control" id="numberOfOption" required [(ngModel)]="customer.numberOfOption" name="numberOfOption">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newCustomer()">Add</button>
</div>