
    <!--<form (ngSubmit)="onSubmit(questionText.value,executionOrder.value,questionType.value,optionText.value)">-->
      <form #productForm="ngForm" (ngSubmit)="onSubmit()">
          
            <div class="form-group">
  <table width="100%" datatable="bootstrap"   class="table table-hover table-sm ">
     <thead bgcolor="#E0E0E0">
      <tr>
        <th>Application name</th>
        <th>Application Description</th>
      </tr>
    </thead> 
    <tbody>
        <!-- <tr *ngFor="let size of AllData;let i = index">
            <td>Question
                <br>Excution Order
                <br>Question type
                <br>Options
             </td>
             <td>
        <div class="form-group">
                <label><font color="green">First Name</font></label> 
                <input type="text" class="form-control" id="firstName" required [(ngModel)]="AllData[i].assessmentQuestions.questionText" name="firstName">
               
            </div>
          </td>
         </tr> -->
        <tr *ngFor="let size of AllData;let i = index">
            <td>Question
                <br>Excution Order
                <br>Question type
                <br>Options
                <br>Cloudable Rule
             </td>  
          <td> 
           <!-- <input type="text" class="form-control"  [(ngModel)]="AllData[i].assessmentQuestions.questionText" name="questionText"> -->
               <span name="questionText" > {{AllData[i].questionText}}</span> 
              <br><input type="number" #executionOrder name="executionOrder" [(ngModel)]="executionOrders[i]" />
              <br><span name="questionType">{{AllData[i].questionType}}</span>
              <br><span *ngFor="let option of AllData[i]['questionOption'] ; let op = index" name="optionText">{{AllData[i].questionOption[op]['optionText']+" , "}}</span>
              <br><input type="text" #cloudProviderRule name="cloudProviderRule{{i}}" [(ngModel)]="cloudProviderRulesText[i]"/>
            </td>
              
           </tr>
  </tbody>
  <tfoot>
    <!-- executionOrder.value,cloudableRule.value -->
    <button type="submit">Submit</button>
    <!-- <button (click)="onSubmit()" class="btn btn-info">Submit</button>&ngsp;&ngsp; -->
      <input type="cancel" class="button  btn btn-info" value="Cancel" (click)="Cancel()">&ngsp;&ngsp;
  </tfoot>
  </table> 
  </div>
 </form>
<!-- </div> -->
