<div>
  <div>
    <h2 class="text-muted">Application <small>List of applications</small></h2>
  </div>
  <br>
      <div>
        <!-- <form role="form" (ngSubmit)="form()">
          <input type="submit" class="btn btn-info btn-md" value="Add Application">&ngsp;&ngsp;
        </form>  
         <form role="form" (ngSubmit)="myFunction()">
           <input type="submit" class="btn btn-info btn-md" value="Import Application">
          </form> -->

          <nav>
            <input type="button" value="Add application" (click)="form()">
            <input type="button" value="Import application" (click)="myFunction()">
          </nav>
      
       </div>
      <br>
    <div class="container">
        <table datatable id="user-list" class="table table-bordered table-striped ">
          <thead>
            <tr>
              <th>Application name</th>
              <th>Application Description</th>
              <th>Application List</th>
              <th>Cloudable</th>
              <th>Migration Method</th>
              <th>Cloud Provider</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let size of AllData">
                <td>{{size.applicationName}}</td>
                <td>{{size.applicationDescription}}</td>
                <td>{{size.applicationList}}</td>
                <td>{{size.cloudable}}</td>
                <td>{{size.migrationMethod}}</td>
                <td>{{size.cloudProvider}}</td>
                <td></td>
                </tr> 
        </tbody>
        </table>
  </div>
  
  </div>