<div>
  <div>
    <h2 class="text-muted">Application <small>List of applications</small></h2>
  </div>
  <br>
      <div>
          <nav>
            <input type="button" class="btn  btn-info" value="Add application" (click)="form()">&nbsp;
            <input type="button" class="btn btn-info" value="Import application" (click)="myFunction()">
          </nav>
      
       </div>
      <br>
    <div>
        <!-- <table datatable id="app-list" class="row-border hover"> -->
            <table width="100%" datatable="bootstrap" id="user-list" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"  class="table table-hover table-sm ">
          <thead bgcolor="#E0E0E0">
            <tr>
              <th>Application name</th>
              <th>Application Description</th>
              <th>Application List</th>
              <th>Cloudable</th>
              <th>Migration Method</th>
              <th>Cloud Provider</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let row of AllData">
                <td>{{row.applicationName}}</td>
                <td>{{row.applicationDescription}}</td>
                <td>{{row.applicationList}}</td>
                <td>{{row.cloudable}}</td>
                <td>{{row.migrationMethod}}</td>
                <td>{{row.cloudProvider}}</td>
               <td width="24%">
                  <button (click)="deactivate(row.applicationId)" style="font-size:19px" class="btn btn-light"><i class="fa fa-lock" aria-hidden="true"></i></button>  
                  <button (click)="ViewApplication(row)" class="btn btn-light" ><i class="fa fa-info-circle"></i></button>&nbsp;
                  <button (click)="assessApplication(row)"  class="btn btn-light" ><i class="fa fa-hourglass-start"></i></button>&nbsp;
                  <button (click)="editApplication(row)" class="btn btn-light" ><i class="fa fa-edit"></i></button>&nbsp;
                  <button (click)="deleteApplication(row.applicationId)" class="btn btn-light" ><i class="fa fa-trash"></i></button>
                  <button (click)="resetApplication(row.applicationId)" style="font-size:16px" class="btn btn-light"><i class="fa fa-refresh" aria-hidden="true"></i></button>  
                </td>
                </tr> 
        </tbody>
        </table>
  </div>
  
  </div>

  