<div>
      <h2 class="text-muted">Users <small>list of users</small></h2>
      <br>
      <form role="form" #addAssessmentQuestionsForm="ngForm" (ngSubmit)="addQuestions()">
          <input type="submit"class="btn btn-info btn-md" value="add Questions" (click)="addQuestions()">&ngsp;&ngsp;
        <input type="submit"class="btn btn-info btn-md" value="import Questions" (click)="importQuestions()"><br>
      <br>
      <table datatable="bootstrap" id="user-list" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="table table-bordered table-striped ">
        <thead>
              <tr>
                <th>Questions</th>
                <th>questionDescription</th>
                <th>questionType</th>
                <th>Question Display Order</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let row of AllData">
                  <td>{{row.questionText}}</td>
                  <td>{{row.questionDescription}}</td>
                  <td>{{row.questionType}}</td>
                  <td>{{row.questionDisplayOrder}}</td>
                  <td><a routerLink="/users" [routerLinkActive]="['router-link-active']" class="btn btn-info" style="margin-right: 2px">
                    <i class="fa fa-key"></i>&nbsp;
                    <span></span>
                    </a>
                    <button (click)="updateQuestions(row.questionId)"  style="font-size:16px" class="btn btn-success"><i class="fa fa-edit"></i></button>
                    <button (click)="deleteQuestions(row.questionId)" type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr> 
          </tbody>
          </table>
        </form>
    </div>