<form #productForm="ngForm" (ngSubmit)="migrationProviderMethod()">
    <div class="form-group">
          <table width="100%" datatable="bootstrap"   class="table table-hover table-sm ">
             <thead bgcolor="#E0E0E0">
              <tr>
                <th>Question</th>
                <th>Question Description</th>
              </tr>
            </thead> 
            <tbody>
                <tr *ngFor="let size of migrationAllData;let i = index">
                    <td>Question
                        <br>Excution Order
                        <br>Question type
                        <br>Options
                        <br>Migration Rule
                     </td>  
                    <td> 
                        <span name="questionText" > {{migrationAllData[i].questionText}}</span> 
                        <br><input type="number" #executionOrder name="executionOrder" [(ngModel)]="executionOrderValue[i]" />
                        <br><span name="questionType">{{migrationAllData[i].questionType}}</span>
                        <br><span *ngFor="let option of migrationAllData[i]['questionOption'] ; let op = index" name="optionText">{{migrationAllData[i].questionOption[op]['optionText']+" , "}}</span>
                        <br><input type="text" #cloudableRule name="migrationRule{{i}}" [(ngModel)]="migrationRule[i]"/>
                    </td>
                </tr>
          </tbody>
          <tfoot>
            <button type="submit">Submit</button>
          </tfoot>
          </table> 
          </div>
         </form>
        
