
<h3>Assessment Questions</h3>
<div>
        <label>Assessment Type</label><br>
        <input type="checkbox" [(ngModel)]="assessmentQuestionData.assessmentTypeForMigration" name="assessmentTypeForMigration" >&ngsp;<label>Migration</label><br/>
        <input type="checkbox" [(ngModel)]="assessmentQuestionData.assessmentTypeForCloudProvider" name="assessmentTypeForCloudProvider">&ngsp;<label>cloud provider</label><br/>
        <input type="checkbox" [(ngModel)]="assessmentQuestionData.assessmentTypeForCloudable" name="assessmentTypeForCloudable">&ngsp;<label>Cloudable</label><br/>
</div>
<div>
        <label for="questionType">Question Type</label>
        <select  [(ngModel)]="assessmentQuestionData.questionType" class="form-control" name=".questionType">
            <option value="Multiple Choice Single Question">Multiple Choice Single Question</option>
            <option value="Multiple Choice Multiple Answer">Multiple Choice Multiple Answer</option>
            <option value="Short Answer">Short Answer</option>
            <option value="Long Answer">Long Answer</option>
        </select>
</div>
<div class="form-group">
        <label for="questionDisplayOrder">Question Display Order</label>
        <input type="text" class="form-control" id="questionDisplayOrder" required [(ngModel)]="assessmentQuestionData.questionDisplayOrder" name="questionDisplayOrder">
      </div>

<div class="form-group">
            <label for="numberOfOption">number of option</label>
            <input type="text" class="form-control" id="numberOfOption" required [(ngModel)]="assessmentQuestionData.numberOfOption" name="numberOfOption">
    </div>

<div>
        <label for="questionText">Question</label>
        <input type="text" class="form-control" id="questionText" required [(ngModel)]="assessmentQuestionData.questionText" name="questionText">
    
</div>

<div class="form-group">
        <label for="questionDescription">Question Description</label>
        <input type="text" class="form-control" id="questionDescription" required [(ngModel)]="assessmentQuestionData.questionDescription" name="questionDescription">
      </div> 

