<div>
<div>
  <h2 class="text-muted">Users <small>list of users</small></h2>
</div>
<div>
  <button type="button" class="btn btn-info btn-md" style="margin-right: 5px" (click)="addusers()">Add User</button>
  <!-- <adduser *ngif="loadcomponent"></adduser> -->
  <button type="button" class="btn btn-info btn-md">Upload user Info</button>
  </div>


<div>
  <app-adduser></app-adduser>

  <br>
  <div class="container">
    <table datatable="bootstrap" id="user-list" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped ">
        <thead>
          <tr>
            <th>Username</th>
            <th>Ip Address(s)</th>
            <th>Company</th>
            <th>LastLogin</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let size of AllData">
                <td>{{size.userName}}</td>
                <td>{{size.ipAddress}}</td>
                <td>{{size.company}}</td>
                <td>{{size.lastLogin}}</td>
                <td>
                <!-- <div class="btn-group"> -->
                <a routerLink="/users" [routerLinkActive]="['router-link-active']" class="btn btn-info" style="margin-right: 2px">
                <i class="fa fa-key"></i>&nbsp;
                <span></span>
                </a>
                <a routerLink="/editusers" [routerLinkActive]="['router-link-active']" class="btn btn-success" style="margin-right: 2px">
                <i class="fa fa-edit"></i>&nbsp;
                <span></span>
                </a>
                <a routerLink="/deleteusers" [routerLinkActive]="['router-link-active']" class="btn btn-danger" style="margin-right: 2px">
                <i class="fa fa-trash-o"></i>&nbsp;
                <span></span>
                </a>
                <!-- </div> -->
                <!-- <div class="btn-group" role="group" aria-label="..."> -->
                <!-- <button type="button" class="btn btn-info" style="margin-right: 5px">q<i class="glyphicon glyphicon-search">
                </i></button>
                <button type="button" class="btn btn-success" style="margin-right: 5px">q<i class="glyphicon glyphicon-pencil">
                </i></button>
                <button type="button" class="btn btn-danger" style="margin-right: 5px" >q<i class="glyphicon glyphicon-trash">
                </i></button> -->
                <!-- </div> -->
                </td>
                </tr> 
        </tbody>
      </table>
</div>


  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="adduser">AddUser</a>
      </li>
      <li>
        <a routerLink="adduser">Upload User Info</a>
      </li>
    </ul>
  </nav>
<router-outlet></router-outlet>
</div>

<!-- <table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons">
      <td>{{ person.id }}</td>
      <td>{{ person.first_name }}</td>
      <td>{{ person.last_name }}</td>
    </tr>
    <tr *ngIf="persons?.length == 0">
      <td colspan="3" class="no-data-available">No data!</td>
    </tr>
  </tbody>
</table> -->