<div>
<div>
  <h2 class="text-muted">Users <small>list of users</small></h2>
</div>
<div>
  <button type="button" class="btn btn-info" style="margin-right: 5px" (click)="addUser()">Add User</button>
  <button type="button" class="btn btn-info btn-md">Upload user Info</button>
  </div>


<div>
  <br>
  <div class="container">
    <table datatable="bootstrap" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped ">
        <thead>
          <tr>
            <th>Username</th>
            <th>Ip Address(s)</th>
            <th>Company</th>
            <th>LastLogin</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let size of AllData">
                <td>{{size.userName}}</td>
                <td>{{size.ipAddress}}</td>
                <td>{{size.company}}</td>
                <td>{{size.lastLogin}}</td>
                <td>
                <button type="button" (click)="viewUser()" class="btn btn-info" title="User Details" style="font-size:16px"> <i class="fa fa-key"></i>&nbsp;</button>
               
                </td>
                </tr> 
        </tbody>
      </table>
</div>


  <!-- <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="adduser">AddUser</a>
      </li>
      <li>
        <a routerLink="adduser">Upload User Info</a>
      </li>
    </ul>
  </nav>
<router-outlet></router-outlet> -->
</div>

<!-- <table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons">
      <td>{{ person.id }}</td>
      <td>{{ person.first_name }}</td>
      <td>{{ person.last_name }}</td>
    </tr>
    <tr *ngIf="persons?.length == 0">
      <td colspan="3" class="no-data-available">No data!</td>
    </tr>
  </tbody>
</table> -->