<div>
<div>
  <h2 class="text-muted">Users <small>list of users</small></h2>
</div>
<br>
<div>
  <button type="button" class="btn btn-info" title="Add New user" style="margin-right: 5px" (click)="addUser()">Add User</button>
  <button type="button" class="btn btn-info btn-md" title="Upload Users Information" (click)="uploadUserInfo()">Import User</button>&nbsp;
  <!-- s<input type="button" class="btn btn-info" value="Export users" (click)="exportCsv()"> -->
  <button type="button" class="btn btn-info btn-md" title="Export All User Details" (click)="exportCsv()">Export Users</button>
  </div>
<br>

<!-- <div> -->
  <!-- <br> -->
  <!-- <div class="container"> -->
    <table datatable="bootstrap" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped table-hover ">
        <thead bgcolor="#E0E0E0" >
          <tr>
            <th style="vertical-align:text-top">Username</th>
            <th style="vertical-align:text-top">Ip Address(s)</th>
            <th style="vertical-align:text-top">Company</th>
            <th style="vertical-align:text-top">Created By</th>
            <th style="vertical-align:text-top">User Type</th>
            <th style="vertical-align:text-top">LastModify</th>
            <th style="vertical-align:text-top">LastLogin</th>
            <th style="vertical-align:text-top">Action</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let size of AllData">
                <td width="13%">{{size.userName}}</td>
                <td width="13%">{{size.ipAddress}}</td>
                <td width="13%">{{size.company}}</td>
                <td width="13%">{{size.createdBy}}</td>
                <td width="13%" *ngIf="size.isAdmin==1;else user">Admin</td>
                <ng-template #user><td>User</td></ng-template>
                <td width="13%">{{size.modifiedBy}}</td>
                <td width="10%">{{size.lastLogin}}</td>
                <td width="13%">
                <button (click)="deactivate(size.userId)" title="Deactivate" style="font-size:16px" class="button button"> <i style="color:black" class="fa fa-key"></i></button>&nbsp;
                <button (click)="updateUser(size)" title=" Update" style="font-size:16px"  class="button button"><i style="color:black" class="fa fa-edit"></i></button>&nbsp;
                <button (click)="deleteUser(size.userId)" title="Delete" type="button" class="button button"><i style="color:black" class="fa fa-trash"></i></button>
                </td>
                </tr> 
        </tbody>
      </table>
<!-- </div> -->


  <!-- <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="adduser">AddUser</a>
      </li>
      <li>
        <a routerLink="adduser">Upload User Info</a>
      </li>
    </ul>
  </nav>
<router-outlet></router-outlet> -->
<!-- </div> -->

<!-- <table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons">
      <td>{{ person.id }}</td>
      <td>{{ person.first_name }}</td>
      <td>{{ person.last_name }}</td>
    </tr>
    <tr *ngIf="persons?.length == 0">
      <td colspan="3" class="no-data-available">No data!</td>
    </tr>
  </tbody>
</table> -->