<h4>Decision Tree</h4>
<br>
<div>
  <form>
    <h6><b>Configuration for Decision Tree:</b></h6>
    <h6>Migration Pattern has been configured to Rule Based <input type="button" class="btn  btn-info" value="Add view or edit" (click)="form()">&nbsp;</h6>
    <label for=">ChangeConfiguration">Change configuration</label>
    <select class="form-control" name="ChangeConfiguration">
        <option value="Rule Based">Rule Based</option>
        <option value="Score Based">Score Based</option>
    </select>
    <br>
    <input type="button" class="btn  btn-info" value="Submit" (click)="form()">
  </form>

</div>