<h4>Detailed Decision Tree</h4>
<br>
<div>
  <form>
      <h6><input type="button" class="btn  btn-info btn-sm" value="Set Execution Order" (click)="evaluationOrder()">&nbsp;</h6>
    <h6><b>Configuration for Decision Tree:</b></h6>
    <table width="100%" class="table table-hover table-sm ">
        <thead bgcolor="#E0E0E0">
          <tr >
            <th>
              <font color="black">Migration Pattern</font>
            </th>
            <th>
                <font color="black">migration Pattern</font>
            </th>
            <th>
              <font color="black">Evaluation Order</font>
            </th>
            <th>
              <font color="black">Add Rule</font>
            </th>
          </tr>
        </thead>
        <tbody >
            <tr *ngFor =  "let row of AllData;let i = index" >
              <td  width="20%">{{row.migrationId}}</td>
              <td width="20%">{{row.migrationPattern}}</td>
              <td width="20%">{{row.evaluationOrder}}</td>
              <td width="15%"><button type="submit" (click)="questions(AllData[i].migrationId)"><i class="fa fa-plus" aria-hidden="true"></i></button></td>
            </tr>
            <tr><td></td><td></td><td></td></tr>
        </tbody>
      </table>
  </form>

</div>