<div [@routerTransition]>
        <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
        <html lang="en">
                <body>
                <div class="jumbotron text-center">
                  <h1 class="text-capitalize">Welcome {{userName}}</h1> 
                  <p><img src="assets/images/cloud.png" width="150px" class="user-avatar" /></p> 
                  <form class="form-inline">
                    <div class="input-group">
                      <div class="input-group-btn">
                        
                      </div>
                    </div>
                  </form>
                </div>
                
                </body>
                </html>
                
    
</div>
