<div *ngIf="userCheck; else notShow">
  <div [@routerTransition]>
        <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
        <html lang="en">
                <body>
                <div class="jumbotron text-center">
                  
                  <h1  class="text-capitalize">Welcome to Cloud Assessment Tool
                    <!-- <div *ngIf="firstName!='null'">{{firstName}}&ngsp;{{lastName}}</div> -->
                  </h1> 
                  <p><img src="assets/images/cloud.png" width="150px" class="user-avatar" /></p> 
                  <form class="form-inline">
                    <div class="input-group">
                      <div class="input-group-btn">
                        
                      </div>
                    </div>
                  </form>
                </div>

                <div class="container-fluid">
                  <div class="row my-3">
                    <div class="col-sm-3">
                    <!-- <div class="card"> -->
                      <!-- <div class="card-block" > -->
                         <!-- <strong> -->
                            <a routerLink="/user" [routerLinkActive]="['router-link-active']" class="list-group-item">
                          <!-- <i class="fa fa-fw fa-dashboard"></i>&nbsp; -->
                          <strong>Users : </strong> {{ users.length}}
                      </a> 
                    <!-- </strong> -->
                     <!-- {{ users}} -->

                      <!-- </div> -->
                    <!-- </div> -->
                    <br>
                    <!-- <br> -->
                    <!-- <br> -->
                    <!-- <div class="card"> -->
                        <!-- <div class="card-block"> -->
                          <!-- <strong> Applications </strong>{{ application}} -->
                          <a routerLink="/application" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <!-- <i class="fa fa-fw fa-dashboard"></i>&nbsp; -->
                            <strong>Application : </strong>{{ application.length}}
                        </a>
                        
                        <!-- </div> -->
                      <!-- </div> -->
                  </div>
                  
                  <div class="col">
                    <div class="card">
                      <div class="card-block">
                        <h1 class="card-title">About</h1>
                        <p class="card-text"><strong>Cloud Assessment Tool</strong> can calculate if a application is cloudable or not
                        ,and it can decide the migration pattern and clpouprovider for the application</p>
                      </div>
                    </div>
                  </div>
                  </div>
                  
                  <!-- <div class="row my-3">
                      <div class="col-sm-3">
                      <div class="card">
                        <div class="card-block" >
                            Application {{ application}}
  
                        </div>
                        </div>
                        </div>
                        </div> -->
                        

                </div>
                
                </body>
                </html>
                
    
</div>
</div>
<ng-template #notShow>
    <div [@routerTransition]>
        <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
        <html lang="en">
                <body>
                <div class="jumbotron text-center">
                  
                  <h1  class="text-capitalize">Welcome <div *ngIf="firstName!='null'">{{firstName}}&ngsp;{{lastName}}</div></h1> 
                  <p><img src="assets/images/cloud.png" width="150px" class="user-avatar" /></p> 
                  <form class="form-inline">
                    <div class="input-group">
                      <div class="input-group-btn">
                        
                      </div>
                    </div>
                  </form>
                </div>

                <div class="container-fluid">
                  <div class="row my-3">
                  
                  <div class="col">
                    <div class="card">
                      <div class="card-block">
                        <h1 class="card-title">About</h1>
                        <p class="card-text"><strong>Cloud Assessment Tool</strong> can calculate if a application is cloudable or not
                        ,and it can decide the migration pattern and clpouprovider for the application</p>
                      </div>
                    </div>
                  </div>
                  </div>
                  
                  <!-- <div class="row my-3">
                      <div class="col-sm-3">
                      <div class="card">
                        <div class="card-block" >
                            Application {{ application}}
  
                        </div>
                        </div>
                        </div>
                        </div> -->
                        

                </div>
                
                </body>
                </html>
                
    
</div>
  </ng-template>

